div(id="footerdiv")
		div(class="ui container")
			span WEBSITE DESIGN BY JACKSON BLAIR

script(src="javascript/jQuery-3.4.1.min.js")
script(src="javascript/semantic.min.js")
script(src="javascript/javascript.js")