div(class="ui stackable one column grid gallerygrid")
	div(class="column")
		div(class="ui basic segment projectsegment")
			div(class="ui centered grid")
				div(class="mobile sixteen wide eight wide tablet four wide computer column")
					button(class="projectimagebutton" onclick="openPhotoswipe(this)")
						img(class="projectimage" src="/images/defaultimg.jpg")
				div(class="mobile sixteen wide eight wide tablet four wide computer column")
					button(class="projectimagebutton" onclick="openPhotoswipe(this)")
						img(class="projectimage" src="/images/defaultimg.jpg")
				div(class="mobile sixteen wide eight wide tablet four wide computer column")
					button(class="projectimagebutton" onclick="openPhotoswipe(this)")
						img(class="projectimage" src="/images/defaultimg.jpg")
				div(class="mobile sixteen wide eight wide tablet four wide computer column")
					button(class="projectimagebutton" onclick="openPhotoswipe(this)")
						img(class="projectimage" src="/images/defaultimg.jpg")