html
	head
	link(rel='stylesheet', href='/stylesheets/semantic.min.css')
	link(rel='stylesheet', href='/stylesheets/styles.css')
	body
		div(id="topbardiv")
			div(class="ui container")
				div(id="headernamediv")
					a(class="ui header" id="headername" href="/") Jackson Blair		
				div(id="headermenudiv")
					div(class="ui right aligned secondary menu" id="headermenu")
						a(class="item active" data-tab="first") PROJECTS	
						a(class="item" data-tab="second") RESUME
						a(class="item" data-tab="third") CONTACT