div(id="bodydiv")
	div(class="ui container")
		h3(class="ui header projectheader") 
			p(class="projectname") RESUME
			button(class="mini ui inverted green button" id="resumebutton") DOWNLOAD .PDF
		div(class="projectdescription")
			div(class="paragraphheader")
				strong Education
			div(class="paragraph")
				span UNIVERSITY OF SOMEWHERE<br>
				p - Bachelor of Computer Science (202x)<br>
				span UDEMY<br>
				p - The Web Developer Bootcamp (2019)<br>
				p - Other course about code (2020)<br>
				p - Additional course about UX (2020)<br><br>
			div(class="paragraphheader")
				strong Employment
			div(class="paragraph")
				span 
					em Chief software lord <br>
				span COMPANY #1 (month 202x - month 202x)<br>
				p - Responsibilities<br>
				p - Tasks<br>
				p - Performancey stuff<br>
				span 
					em Grand programmer <br>
				span COMPANY #2 (month 202x - month 202x)<br>
				p - Roles fulfilled<br>
				p - Technologies used<br>
				p - Tasks<br><br>
			div(class="paragraphheader")
				strong Proficiencies
			div(class="paragraph")
				span FRONT-END: <br>
				p Thing, framework, plugin, etc.<br>
				span BACK-END: <br>
				p Node, express, other things<br>
				span LANGUAGES: <br>
				p Javascript, java<br>