div(id="bodydiv")
	div(class="ui container")
		h3(class="ui header projectheader") 
			p(class="projectname") RESUME
			button(class="mini ui green button" id="resumebutton") DOWNLOAD .PDF
		div(class="projectdescription")
			div(class="paragraphheader")
				strong Education
			div(class="paragraph")
				| UNIVERSITY OF SOMEWHERE<br>
				ul
					li Bachelor of Computer Science (202x)
				| UDEMY<br>
				ul
					li The Web Developer Bootcamp (2019)
					li Other course about code (2020)
					li Additional course about UX (2020)
				<br>
			div(class="paragraphheader")
				strong Employment
			div(class="paragraph")
				| Chief software lord <br>
				| COMPANY #1 (month 202x - month 202x)
				ul
					li Responsibilities
					li Tasks
					li Performancey stuff
				| Grand programmer <br>
				| COMPANY #2 (month 202x - month 202x)
				ul
					li Roles fulfilled
					li Technologies used
					li Tasks
				<br>
			div(class="paragraphheader")
				strong Proficiencies
			div(class="paragraph")
				span FRONT-END
				ul
					li Thing, framework, plugin, etc.
				span BACK-END
				ul
					li Node, express, other things
				span LANGUAGES
				ul
					li Javascript, java